[user]
	name = Linh Tran
	email = linh.mtran168@live.com
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
[alias]
	lg = log --all --graph --decorate --oneline
[color]
	ui = true
[push]
	default = simple
[http]
[ghq]
	root = ~/Dev
[merge]
	tool = vimdiff
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
